<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

<head>
    <!-- Favicons -->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/favicon-32x32.png">
    <link rel="apple-touch-icon" sizes="180x180" href="assets/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="192x192" href="assets/android-chrome-192x192.png">
    <link rel="icon" type="image/png" sizes="512x512" href="assets/android-chrome-512x512.png">
    <link rel="manifest" href="assets/site.webmanifest">
    
    <meta charset="UTF-8">

    {% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <title>Melody</title>
</head>

<body>
<header class="page-header" role="banner">
    <h1 class="project-name">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
    <h2 class="project-tagline">
        {{ page.description | default: site.description | default: site.github.project_tagline }}</h2>

    <a href="/" class="btn">About</a>
    <a href="manuals.html" class="btn">Guides & Manuals</a>
    <a href="tech_doc.html" class="btn">Technical Documentation</a>
    <a href="https://github.com/melody2c2025/" class="btn">View on GitHub</a>
</header>

<main id="content" class="main-content" role="main">
    {{ content }}

</main>
</body>

</html>
